<div class="mainBox">
    <h1 class="title">Contact Us</h1>
    <div class="homeBelowBox">
        <div class="leftBox">
            <p class="contain"> My Bonnie lies over the ocean.

                My Bonnie lies over the sea. <br>
              
                My Bonnie lies over the ocean.
              
                Oh, bring back my Bonnie to me.</p>
        </div>
        <div class="rightBox ">
                <img width="400" height="280" src="https://staticmapmaker.com/img/google@2x.png" class="image"/>
        </div>
    </div>
</div>