<div class="mainBox">
    <h1 class="title">Gallery</h1>
    <div class="galleryBox">
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/229/sports/" class="image"/>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/229/food/" class="image"/>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/229/nature/" class="image"/>

        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/229/cats/" class="image"/>
        </div>
    </div>
    <div class="galleryBox">
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/229/city/" class="image"/>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/229/sports/" class="image"/>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/229/nightlife/" class="image"/>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/229/people/" class="image"/>
        </div>
    </div>
</div>