<div class="mainBox">
    <h1 class="title">Product</h1>
    <div class="productBox" >
        <div class="cotainBox"  @listAnimation (click) = "productHome()">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/200/sports/" class="image"/>
            <button class="addButton" (click)="addToCart($event)">Add to cart</button>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="https://picsum.photos/300/200" class="image"/>
            <button class="addButton" (click)="addToCart($event)">Add to cart</button>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/200/nature/" class="image"/>
            <button class="addButton">Add to cart</button>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/200/animals/" class="image"/>
            <button class="addButton">Add to cart</button>
        </div>
    </div>
    <div class="productBox">
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/200/business/" class="image"/>
            <button class="addButton">Add to cart</button>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/200/sports/" class="image"/>
            <button class="addButton">Add to cart</button>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="http://lorempixel.com/300/200/sports/" class="image"/>
            <button class="addButton">Add to cart</button>
        </div>
        <div class="cotainBox">
            <h2 class="contain">Image 1</h2>
            <img src="https://picsum.photos/300/200" class="image"/>
            <button class="addButton">Add to cart</button>
        </div>
    </div>
    
</div>