<div class="mainBox">
    <h1 class="title">Home</h1>
    <div class="homeBelowBox">
        <div class="leftBox">
            <p class="contain"> My Bonnie lies over the ocean.

                My Bonnie lies over the sea. <br>
              
                My Bonnie lies over the ocean.
              
                Oh, bring back my Bonnie to me.</p>
        </div>
        <div class="rightBox ">
                <img src="http://lorempixel.com/300/200/business/" class="image"/>
        </div>
    </div>
</div>